@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap");

.xop-banner{
  margin:0vh 50px 0px 0px;
  font-family: 'poppins';
  font-size: 100%;
  font-size: 12px;
  background-color: #f0f4fb;
  width: 100%;
  padding: 10vh 100px 50px 100px ;
}
.site-container{
  margin: 2rem,auto;
  max-width: calc(100%-80px);
}

.article-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,300px));
  gap: 2rem;
}
.article-image{
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.article-image img{
  max-width: 100%;
  border-radius: 20px 20px 0 0;
}

.article-card{
  background-color:white;
  border-radius: 20px;
  transition: 0.3s;
  overflow: hidden;
  height: 80%;
}
.article-card:hover{
  box-shadow: 0 4px 20px 0 rgb(34, 68, 123, 0.2);
  cursor: pointer;
}

.article-content{
    padding: 1rem;
}

.card-category{
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  color: rgb(0, 84, 80);
  text-decoration: none;
}

.card-title{
  margin: 0.5rem 0;
  font-size: 16px;
}

.card-excerpt{
  font-size: 12px;
  line-height: 1rem;
  margin: 0;
}

/*cari*/

.input-search{
  position: relative;
  margin: 20px 0 30px 0;

}
.input-search form {
  margin: 30px 0 0 0;

}
.artikel{
  height:5vh;
  border: none;
  background-color: transparent;
  outline: none;
  padding-left: 25px;
  background-color: rgb(233, 231, 231);
  border-radius: 10px;
}
.artikel{
  width: 50%;
}
.submited{
  width: 10%;
  height:5vh;
  border: none;
  background-color: rgb(6, 132, 102);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.submited:active {
	transform: scale(0.95);
}

.input-search form input::placeholder{
  font-size: 15px;
  font-family: 'poppins';
}